/* Đặt font mặc định cho toàn bộ trang */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

/* Header trang */
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Các thẻ h1 trong header */
header h1 {
margin: 0;
    font-size: 2.5em;
}

label {
    display: block;  /* Đảm bảo nhãn chiếm toàn bộ chiều rộng của dòng */
    font-weight: bold;  /* Làm cho nhãn đậm hơn */
    color: #333;  /* Màu chữ tối để nhãn dễ đọc */
    font-size: 1.2em;
}
/* Định dạng form */
form {
    background-color: white;
    width: 50%;
    margin: 15px auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Các phần tử input và select */
input[type="text"],
input[type="number"],
input[type="file"],
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

/* Nút submit */
input[type="submit"] {
    background-color: #408b9e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    width: 100%;
    margin-top: 8px;
}

input[type="submit"]:hover {
    background-color: #136d91;
}

/* Định dạng tiêu đề của form */
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

/* Thông báo lỗi */
.error {
    color: red;
    font-size: 1em;
    margin-top: 10px;
}
