/* Nội dung của modal */
.modal-content {
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Tiêu đề modal */
.modal-content h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

/* Các label và input trong form */
.modal-content label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
    color: #555;
}

.modal-content input[type="text"],
.modal-content input[type="number"],
.modal-content select,
.modal-content input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Hiển thị ảnh preview */
#image_preview {
    display: block;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}

/* Nút gửi (submit) */
.modal-content button {
    background-color: #566597;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.modal-content button:hover {
    background-color: #487ea1;
}

/* Nút đóng */
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}

.close-btn:hover {
    color: #ff0000; /* Đổi màu khi hover */
}
