/* thuephong.css */

/* Cơ bản */
body {
    font-family: Arial, sans-serif;
    background-color: #cee2f6;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    gap: 10px;
}

/* Tiêu đề */
h1 {
    text-align: center;
    color: #121213;
    font-size: 27px;
}

/* Các trường nhập */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

/* Nút bấm */
button, .btn-danger {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
}

button {
    background-color: #3852c4;
    color: white;
    border: none;
}

button:hover {
    opacity: 0.8;;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
    border: none;
}

.btn-danger:hover {
    background-color: #c82333;
}

/* Thêm icon vào các nút */
button i, .btn-danger i {
    margin-right: 8px;
    color: #007bff;
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }
    
    h1 {
        font-size: 20px;
    }
    
    .form-group input {
        padding: 10px;
    }
}
