/* thuephong.css */

/* Chỉ định một số thuộc tính cơ bản cho form */
body {
    font-family: Arial, sans-serif;
    background-color: #cee2f6;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #555;
}

p {
    color: #777;
}

/* Định dạng các nhóm label và input */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Tạo khoảng cách cho các button */
.form-actions {
    text-align: center;
    margin-top: 20px;
}

.form-actions button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s;
}

.form-actions button:hover {
    background-color: #3852c4;
}

.form-actions button[type="button"] {
    background-color:#3852c4 ;
}

.form-actions button[type="button"]:hover {
    background-color: #3852c4;
}

/* Định dạng cho các icon */
.form-group label i {
    margin-right: 8px;
    color: #007bff;
}

/* Định dạng các button trong form */
button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    opacity: 0.8;
}

button[type="button"] {
    opacity: 0.8;
}
button[type="button"]:hover {
    opacity: 0.8;
}
